body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color: hsl(0, 0%, 10%);
}
body *,
body *::before,
body *::after {
	box-sizing: inherit;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	background-color: #fff;
}
h1 {
	margin: 0;
	font-size: 1.2em;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .12em;
}
button {
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
.btn-primary {
	background-color: hsl(210, 30%, 47%);
	color: #fff;
	display: flex;
	align-items: center;
	gap: .5em;
	padding: .6em 1.8em;
	border-radius: .5em;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .8em;
}
.category {
	position: relative;
}
.category > h2 {
	position: absolute;
	margin: 0 0 1em 1.5em;
	bottom: 0;
	line-height: 1;
	background-color: #fff;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .12em;
	padding: 1em 2em;
	border-radius: 0 0 .5em .5em;
}
.shelf {
	display: flex;
	align-items: flex-end;
	padding: 3em 1.5em 0;
	background-color: hsl(210, 40%, 80%);
	background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, .3));
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-padding: 1.5em;
	min-block-size: 50vh;
	border-block-end: 4em solid hsl(0, 0%, 10%);
}
.shelf > h2 {
	position: absolute;
}
article {
	display: grid;
	gap: 2em;
	padding-block: 2em 1em;
	padding-inline: 2em;
	background-image: linear-gradient(to right, hsla(0, 0%, 0%, .6) 0%, hsla(0, 0%, 0%, .2) 8%, hsla(0, 0%, 100%, .12) 50%, hsla(0, 0%, 0%, .2) 92%, hsla(0, 0%, 0%, .6) 100%);
	border-radius: .4em;
	scroll-snap-align: start;
}
article > div {
	text-align: center;
}
article h3 {
	justify-self: center;
	font-size: 2.1em;
	font-weight: normal;
	line-height: 1.1;
	margin: 0;
	writing-mode: vertical-rl;
	font-family: 'Playfair Display', serif;
	max-inline-size: 14em;
	min-inline-size: 6em;
	transform: rotate(180deg) translateX(.1em);
}
article h4 {
	font-size: .875em;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}
article p {
	font-size: .625em;
	margin: .2em 0 0;
	font-weight: 300;
}
article .remove {
	margin: .625em auto 0;
	padding: .625em 0 0;
	border-block-start: .05em solid currentColor;
	align-self: center;
	max-inline-size: 5em;
}
article .remove button {
	display: flex;
	align-items: center;
	gap: .2em;
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
	font-size: .625em;
	line-height: 1;
	margin: 0 auto;
}
article .remove button svg {
	display: block;
	inline-size: 1.8em;
	block-size: auto;
}
/* read/unread */
input {
	font-family: inherit;
	font-size: 1em;
}
article form {
	text-align: center;
	max-inline-size: 5em;
	margin-inline: auto;
}
article fieldset {
	margin: .625em 0 0;
	padding: .625em 0 0;
	border: 0;
	border-block-start: .05em solid currentColor;
	min-inline-size: 3.5em;
}
article legend {
	float: left;
	font-size: .625em;
	inline-size: 100%;
	padding: 0;
	margin-block-end: .1em;
}
article .radio-box {
	clear: left;
	display: flex;
	gap: .5em;
	justify-content: center;
}
article input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	display: none;
}
article input[type="radio"] + label svg {
	display: block;
	inline-size: 1.5em;
	block-size: auto;
}
article input[type="radio"]:not(:checked) + label {
	opacity: .4;
}
/* background colors */
article.color-1 {
	background-color: hsl(0, 0%, 98%);
}
article.color-1 h3 {
	color: hsl(198, 51%, 49%);
}
article.color-2 {
	background-color: hsl(34, 72%, 79%);
}
article.color-2 h3 {
	color: hsl(84, 4%, 40%);
}
article.color-3 {
	background-color: hsl(44, 24%, 78%);
}
article.color-3 h3 {
	color: hsl(69, 9%, 30%);
}
article.color-4 {
	background-color: hsl(173, 19%, 26%);
	color: #fff;
}
article.color-4 h3 {
	color: hsl(172, 55%, 92%);
}
article.color-5 {
	background-color: hsl(346, 83%, 66%);
}
article.color-5 h3 {
	color: hsl(342, 84%, 12%);
}
article.color-6 {
	background-color: hsl(209, 29%, 41%);
	color: #fff;
}
article.color-6 h3 {
	color: hsl(195, 50%, 76%);
}
article.color-7 {
	background-color: hsl(202, 21%, 26%);
	color: #fff;
}
article.color-7 h3 {
	color: hsl(27, 20%, 63%);
}
article.color-8 {
	background-color: hsl(48, 77%, 81%);
}
article.color-8 h3 {
	color: hsl(180, 5%, 22%);
}
article.color-9 {
	background-color: hsl(353, 34%, 32%);
	color: #fff;
}
article.color-9 h3 {
	color: hsl(357, 45%, 75%);
}
article.color-10 {
	background-color: hsl(344, 26%, 20%);
	color: #fff;
}
article.color-10 h3 {
	color: hsl(344, 42%, 65%);
}
article.color-11 {
	background-color: hsl(0, 0%, 16%);
	color: #fff;
}
article.color-11 h3 {
	color: hsl(102, 44%, 73%);
}
article.color-12 {
	background-color: hsl(125, 19%, 25%);
	color: #fff;
}
article.color-12 h3 {
	color: hsl(98, 17%, 63%);
}
.sr-only {
	position: absolute!important;
	inline-size: 1px!important;
	block-size: 1px!important;
	padding: 0!important;
	margin: -1px!important;
	overflow: hidden!important;
	clip: rect(0,0,0,0)!important;
	white-space: nowrap!important;
	border: 0!important;
}
dialog::backdrop {
	background-color: hsla(0,0%,0%,.6);
	-webkit-backdrop-filter: blur(.25em);
	backdrop-filter: blur(.25em);
	transition: backdrop-filter .5s ease;
}
html:has(dialog[open]) {
	overflow: hidden;
}
/* dialogs */
dialog {
	border: none;
	padding: 1.5em;
	border-radius: 1em;
	box-shadow: 0 1em 2em hsla(0, 0%, 0%, .5);
	inline-size: min(20em, 80%);
	background-color: hsl(210, 40%, 90%);
}
button.close {
	float: right;
}
button.close svg {
	display: block;
	inline-size: 1.5em;
	block-size: auto;
}
#new-modal form {
	display: grid;
	gap: 1em;
}
dialog h2 {
	margin: 0 0 1.25em;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1.2;
}
dialog h2 .title {
	text-transform: none;
	letter-spacing: normal;
}
dialog label {
	font-size: .8em;
	font-weight: 300;
}
dialog .input-box label {
	display: block;
	margin-block-end: .2em;
}
dialog input[type="text"] {
	inline-size: 100%;
	border: none;
	padding: .4em .6em;
}
dialog :not(.input-box) > label {
	margin-inline-end: 1em;
}
dialog select {
	display: block;
	background-color: #fff;
	border: none;
	padding: .4em .6em;
	border-radius: .4em;
	font-size: 1em;
}
dialog fieldset {
	inline-size: 100%;
	border: none;
	padding: 0;
}
dialog fieldset legend {
	font-size: .8em;
}
dialog form button {
	background-color: hsl(210, 30%, 47%);
	color: #fff;
	display: flex;
	align-items: center;
	gap: .5em;
	padding: .6em 1.8em;
	border-radius: .5em;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .8em;
	justify-self: start;
}
#remove-modal form {
	display: flex;
	gap: 1em;
}
/* empty shelf */
.empty {
	align-self: center;
	margin: 0 auto;
}
.empty h2 {
	margin: 0 0 .5em 0;
	font-size: 1.5em;
}
.empty .btn-box {
	display: flex;
	gap: 1em;
}
@media (hover : hover) {
	button {
		cursor: pointer;
	}
	.btn-primary {
		transition: background-color .2s;
	}
	.btn-primary:hover {
		background-color: hsl(210, 30%, 40%);
	}
}